@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font: 112.5%/1.45em;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-family: 'Lato', sans-serif, -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Ubuntu;
  background-color: #0e1218;
  color: #ced0d4;
}

h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.25rem;
  font-family: 'Playfair Display', serif;
}

h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.9rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 0.7rem;
  list-style-type: disc;
  margin-left: 25px;
}
