@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto&display=swap');

html {
  font: 112.5%/1.45em;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Ubuntu;
  background-color: #335355;
  color: #e5e7eb;
}

h1 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;

}

h2 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 1.62671rem;
  font-family: "Playfair Display", serif;

}

h3 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 1.38316rem;
  font-family: "Playfair Display", serif;

}

ul {
  margin-top: 0.7rem;
  list-style-type: disc;
  margin-left: 25px;
}
